<h1>Add a photo</h1>
<%= form_for SedimentControl.new, url: '/water_treatments/solutions/sediment_control', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :sediment_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :sediment_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
