<h1>add a new picture</h1>
<%= form_for Ozone.new, url: '/water_treatments/solutions/ozone', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :ozone_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :ozone_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
