<div class="text-center">
  <h1>Listing Blogs</h1>
  <% if current_user %>
   <h4><%= link_to 'New Blog', new_blog_path %></h4>
  <% end %>
</div>
<br>
  <% @blogs.each do |blog| %>
    <div class="blogs text-center">
      <h1><%= blog.title %></h1>
      <h3 class="text-justify"><%= blog.content %></h3>
      <h4>Author: <%= simple_format(blog.author) %></h4>
      <% if current_user %>
        <!-- <%= link_to 'Show', blog %> -->
        <!-- <%= link_to 'Edit', edit_blog_path(blog) %> -->
        <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <br>
  <% end %>

<br>
