<h1>add a new photo</h1>
<%= form_for Ultraviolet.new, url: '/water_treatments/solutions/ultraviolet', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :ultra_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :ultra_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
