<%= form_for WaterTestingService.new, url: '/water_testing_services', html: { multipart: true } do |f| %>
  <% if @water_testing_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_testing_service.errors.count, "error") %> prohibited this water_testing_service from being saved:</h2>

      <ul>
      <% @water_testing_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :wts_pic %><br>
    <%= f.file_field :wts_pic %>
  </div>
  <div class="field">
    <%= f.label :wts_tag %><br>
    <%= f.text_field :wts_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
