<!-- <p id="notice"><%= notice %></p> -->
<div class="text-center">
  <h1>Water Testing Services</h1>
  <% if current_user %>
    <h2><%= link_to 'add a new picture', new_water_testing_service_path %></h2>
  <% end %>
  <% @water_testing_services.each do |wts| %>
    <div class="images">
      <%= link_to image_tag(wts.wts_pic.url(:medium)), wts.wts_pic.url, title: wts.wts_tag %>
      <h4><%= wts.wts_tag %></h4>
      <% if current_user %>
        <h4><%= link_to 'DELETE', "/water_testing_services/#{wts.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      <% end %>
    </div>
  <% end %>
</div>
