<h1>Add a new Whole House RO picture</h1>
<%= form_for WholehouseRo.new, url: '/water_treatments/commercial/office/kitchen/wholehouse_ro', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :wh_ro_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :wh_ro_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
