<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="video_form col-xs-6">
    <h1>New Video</h1>
    <div class="field">
      <%= f.label "Title" %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "URL" %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "Caption" %>
      <%= f.text_field :caption, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
