<h1>Videos</h1>
<% if current_user %>
  <%= link_to 'New Video', new_video_path %>
<% end %>
<% @videos.each do |video| %>
  <%= video.title %><br>
  <%= embed(video.url) %><br>
  <%= video.caption %>
  <% if current_user %>
    <%= link_to 'Show', video %>
    <%= link_to 'Edit', edit_video_path(video) %>
    <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
