<h1>Add A New Booster Pump Picture</h1>
<%= form_for Boosterpump.new, url: '/well_pumps/boosterpumps', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :bp_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :bp_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
