<%= form_for @flood_prevention, url: flood_preventions_path, html: {multipart: true} do |f| %>
  <% if @flood_prevention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flood_prevention.errors.count, "error") %> prohibited this flood_prevention from being saved:</h2>

      <ul>
      <% @flood_prevention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :fp_pic %><br>
    <%= f.file_field :fp_pic %>
  </div>
  <div class="field">
    <%= f.label :fp_tag %><br>
    <%= f.text_field :fp_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
