<p id="notice"><%= notice %></p>

<h1>Listing Flood Preventions</h1>

  <% @flood_preventions.each do |fp| %>
    <%= image_tag(fp.fp_pic.url(:medium)) %>
    <h3><%= fp.fp_tag %></h3>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/flood_prevention/#{fp.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  <% end %>

<br>

<%= link_to 'New Flood prevention', new_flood_prevention_path %>
