<h1>Add a new photo</h1>
<%= form_for ReverseOsmosis.new, url: '/water_treatments/solutions/reverse_osmosis', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :ro_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :ro_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
