<h1>add a new picture</h1>
<%= form_for FiltrationSystem.new, url: '/water_treatments/drinking_water/filtration_systems', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :filt_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :filt_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
