<h1>Add a new Custom Repairs picture </h1>
<%= form_for Customrepair.new, url: '/well_pumps/customrepairs', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :cr_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :cr_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
