<h1>add a new picture</h1>
<%= form_for WaterConditioner.new, url: '/water_treatments/solutions/water_conditioner', html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label 'New Picture' %><br>
    <%= f.file_field :water_condition_pic %>
  </div>
  <div class="field">
    <%= f.label 'New Tag' %><br>
    <%= f.text_field :water_condition_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
