<!DOCTYPE html>
<html>
<head>
  <title>Nws3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top col-xs-12">
    <div class="nav_inner">
      <a href="/"><%= image_tag('nws_logo.png') %></a>
      <div class="nav_links pull-right">
        <a href="/videos">Videos</a> |
        <a href="#">Photos</a> |
        <a href="#">Good Advice</a> |
        <a href="/blog">Blog</a> |
        <a href="/contact">Contact</a>
        <form class="navbar-form inline" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="backHome">
    <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-primary btn-lg' %> || <%= link_to 'Home', '/', class: 'btn btn-primary btn-lg' %>
  </div>


  <!-- <%= all_tables %> -->
  <!-- <hr> -->
  <!-- <hr> -->
  <!-- <%= all_routes %> -->
  <!-- maybe try getting all the tables instead? -->
  <!-- move this over to application controller and see what regex you can do to split all this up -->
  <!-- <%= `rake routes`.split("\n").map{ |r| r.gsub(', ', ',').split(' ') } %> -->

<%= yield %>

  <div class="navbar-fixed-bottom">
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>

  <script>
    baguetteBox.run('.images');

    tinymce.init({
      selector: 'textarea',  // change this value according to your html
      // formats: {
      //   alignleft: {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'left'},
      //   aligncenter: {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'center'},
      //   alignright: {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'right'},
      //   alignfull: {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'full'},
      //   bold: {inline : 'span', 'classes' : 'bold'},
      //   italic: {inline : 'span', 'classes' : 'italic'},
      //   underline: {inline : 'span', 'classes' : 'underline', exact : true},
      //   strikethrough: {inline : 'del'},
      //   forecolor: {inline : 'span', classes : 'forecolor', styles : {color : '%value'}},
      //   hilitecolor: {inline : 'span', classes : 'hilitecolor', styles : {backgroundColor : '%value'}},
      //   custom_format: {block : 'h1', attributes : {title : 'Header'}, styles : {color : 'red'}}
      // }
    });
  </script>
</body>
</html>
